
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background-attachment: fixed !important;
		background: #DDDDDD;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#AAA));
		background: -webkit-linear-gradient(top, #EEE, #AAA);
		background: -moz-linear-gradient(top, #EEE, #AAA);
		background: -ms-linear-gradient(top, #EEE, #AAA);
		background: -o-linear-gradient(top, #EEE, #AAA);
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		color: #222;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: white;
		font-weight: normal;
		text-decoration: none; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 12px;}
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	/*.left h4 { 
		text-align: right; 
		margin-right: 20px;}*/
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #666; }
	h1.no.shadow, h2.no.shadow, h3.no.shadow, h4.no.shadow, h5.no.shadow, h6.no.shadow {
		text-shadow:none;
	}
	h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
		border-top:solid 1px rgb(190, 110, 20);
		border-bottom:solid 1px rgb(190, 110, 20);
	}
	h1.alt {margin-bottom: 16px;}
	h2.alt {margin-bottom: 16px; }
	h3.alt {margin-bottom: 16px; }
	h4.alt {margin-bottom: 12px; }
	h5.alt {margin-bottom: 4px; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777; }

	.h-col, .b-col {display: inline-block;}
	.h-col p, .b-col p {margin-bottom:10px;}
	.b-col {margin-left:30px;}
	.b-col a {text-decoration: none;}

	em { font-style: italic; }
	strong { font-weight: bold; color: #AAA; }
	b { font-weight: bold;}
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #666; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	.left blockquote, .left blockquote p { text-align: justify;}
	.left blockquote { border-right: 1px solid #666; border-left: none; margin-right: 20px;}
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited {text-decoration: none; color: #333;}
	a:hover, a:focus { color: #222;}
	h3 a:hover, h3 a:focus{background: #BBB;}
	h3 a.post-edit-link:hover, h3 a.post-edit-link:focus{background: #888;}
	/*a:hover, a:focus { color: #0b5371; }*/
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; margin-left:20px; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		height: 60px;
		width: 110px;
		font-size: 30px;
		background: rgb(99, 169, 0);
		display: inline-block;
		cursor: pointer;
		line-height: normal;
		padding: 8px 10px;
		color:#FFF;
		border: none;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	}

	button.last,
	input[type="submit"].last,
	input[type="reset"].last,
	input[type="button"].last {
		margin-bottom: 0px;
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover { }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background: rgb(60, 129, 0);
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	label {
		display: inline-block;
	}
	/*label.embeded {
		margin-right:5px;
		margin-bottom: 10px;
		padding: 2px 8px;
		background-size:220px 58px;
		width: 204px;
		position: relative;
	}*/

	/*span {line-height: 25px;}*/

	input {
		margin: 10px;
		margin-bottom: 20px;
		width: 200px;
		height: 30px;
		font-size: 20px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		background: #CCC;
		border: none;
		color:#000;
	}
/*
	label.embeded input[type="text"]:focus,
	label.embeded input[type="password"]:focus,
	label.embeded input[type="email"]:focus {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow:  none;
	}*/

	/*textarea,
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		background: #2d2d2d;
		padding: 3px 5px;
		margin: 0;
		margin-right: 10px;
		border: solid 1px #222;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		max-width: 100%;
		color:#777;
		outline: none;
		display: inline-block;
		font: 13px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}*/
	/*textarea {
		padding: 10px 8px;
		margin: 0;
		width: 300px;
		max-width: 90%;
		display: block;
		margin-bottom: 20px;}
	select {
		border: 1px solid #222;
		padding: 10px 8px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #222;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #AAA; }
	select {
		padding: 0; }
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus {
		border: 1px solid #111;
 		color: #ccc;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	.radio, .checkbox, .radio-checked, .checkbox-checked {
		background-image: url(../images/InputIcons.png);
		background-size: 20px 80px;
		padding: 0;
	}
	a.radio-fx span, a.radio-fx, a.checkbox-fx span, a.checkbox-fx {
		display: inline-block;
		margin: 0;
		border: 0;
		width:20px;
		height:20px;
	}
	a.radio-fx, a.checkbox-fx {line-height: 40px}
	a.checkbox-fx:hover, a.radio-fx:hover {background: none;}

	.checkbox {background-position: 0 0;}
	.checkbox-checked {background-position: 0 -20px;}
	.radio {background-position: 0 -40px;}
	.radio-checked {background-position: 0 -60px;}

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
       	.radio, .checkbox, .radio-checked, .checkbox-checked {
			background-image: url(../images/InputIcons@2x.png);
		}
    }*/

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


